/* NAVBAR */
.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
}

.navbar {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6vw;
  list-style: none;
  color: var(--main-color);
  text-align: center;
}

.menuList {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  list-style: none;
  color: var(--main-color);
  text-align: center;
}

.navLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBtnConainer {
  display: flex;
  gap: 1vh;
}

.navBtn {
  font-size: 1.2vw;
  padding: 1.5vh 3vw;
  color: var(--main-color);
  background-color: white;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  cursor: pointer;
}
.navBtn1 {
  font-size: 1.2vw;
  padding: 1.5vh 3vw;
  color: white;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  cursor: pointer;
}

/* HERO SECTION */
.hero-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow: none;
  gap: 2vw;
  padding: 3vh 0;
}

.hero-text {
  width: 26vw;
}

.hero-text1 {
  font-size: clamp(1vw, 10vw, 3.8vw);
  font-weight: 100;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.hero-text-span {
  font-weight: 900;
  font-style: normal;
}

.hero-paragraph {
  padding-top: 4vh;
  font-size: 1vw;
  line-height: 4vh;
  text-align: justify;
  text-justify: distribute;
}

.heroBtn {
  font-size: 1.2vw;
  padding: 1.5vh 3vw;
  color: white;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 4vh;
}

/* SLIDER */

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: pr;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 180px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
  color: var(--main-color);
}
.slider::before,
.slider::after {
  /* background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%); */
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.silder-text {
  text-align: center;
  font-size: 1.5vw;
  padding: 2vh 0;
  color: var(--veryDark-color);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
  margin-top: 6vh;
}

/* SMARTER */

.smart-container {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 2vw;
}

.chart-section1 {
  width: 50vw;
}

.chart-section2 {
  width: 30vw;
}

.chart-header {
  font-size: 4vw;
  font-weight: 100;
  font-style: italic;
}

.chart-para {
  margin-top: 5vh;
  font-size: 1.2vw;
  text-align: justify;
  text-align: distribute;
  opacity: 0.8;
}

.chart-btn {
  font-size: 1.2vw;
  padding: 1.5vh 3vw;
  color: white;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 4vh;
}

/* SERVICE  */
.service-container {
  display: flex;
  padding: 5vh 3vw;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.services-text {
  width: 35vw;
}
.service-text {
  text-align: justify;
  margin-top: 4vh;
  opacity: 0.8;
  text-align: distribute;
}

.service-header {
  font-size: 4vw;
  font-weight: 100;
}

.service-image {
  width: 50vw;
}
